ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #000000;    
}

button{
    color:white;
}
.login{
    float: right;    
    margin-right:5px;
}